# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*
!run/config
run/config/*
!run/config/the_vault
run/config/the_vault/*
!run/config/the_vault/quest

# Files from Forge MDK
forge*changelog.txt
